*{margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon{
    width: 388px;
    height: 223px;
    background:orchid;
    position: relative;
    
}

.hexagon::before{
    content: '';
    width: inherit;
    height: inherit;
    position:absolute;
    top:0;
    left:0;  
    background:orchid;
    transform: rotate(60deg);
    
}
.hexagon::after{
    content: '';
    width: inherit;
    height: inherit;
    position:absolute;
    top:0;
    left:0;  
    background:orchid;
    transform: rotate(-60deg);
    
}

.hexagon:hover{
    cursor: pointer;
    background: brown;
}